.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px 92px;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 0 24px 88px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    padding: 0 0 110px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0 0 66px;
  }
}