.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;

  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translate(-50%, -50%);
}