.cover {
  padding: 0 48px 96px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 0 96px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding: 0 0 66px;
  }
}