.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  padding: 0 48px 24px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 16px 24px;
    row-gap: 48px;
  }
}